@import "../../styles/colors.module.scss";

$dark-color: rgba(21, 15, 24, 0.95);
$light-color: rgba(214, 253, 255, 0.7);
$light-color-hover: rgba(214, 253, 255, 0.8);

.navbar {
    color: $light-color;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 2px 1px 5px 1px $shadow-color;
    letter-spacing: 0.5px;
    position: relative;
    top: 0;
    opacity: 1;
    z-index: 10;
    height: 50px;
}

.navbar_links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    text-transform: uppercase;
    position: relative;
    float: right;
    right: 22.5%;

    @media (min-width: 1600px) {
        right: 50%;
    }

    li {
        margin: 0 1rem;
        flex-direction: column;
        font-size: small;

        a {
            font-weight: 400;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $light-color-hover;
            }
        }
    }

    @media screen and (max-width: 800px) {
        display: none
    }
}

.navbar_menu {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #235789;
    margin: 5px;
    cursor: pointer;

    svg {
        width: 70%;
        height: 75%;
        color: #D6FDFF;

    }

    @media screen and (min-width: 800px) {
        display: none !important;
    }
}

.menu_hover {
    border-radius: 40%;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgb(45, 97, 137) !important;
    }
}

.social_icon {
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 5px;

    @media (max-width: 768px) {
        width: 35px !important;
        height: 35px !important;
        margin-bottom: 0px;
    }
}


.vertical_cont {
    background-color: transparent;
    padding: 8px;
    position: fixed;
    top: 350px;
    left: 50px;
    z-index: 100;
    border: 1px dotted $light-color;
    border-radius: 30px;

    @media (max-width: 768px) {
        top: 280px;
        left: 3.5%;
        width: 45px;
    }

    @media (max-width: 550px) {
        top: 300px;
        left: 3.5%;
        width: 37.5px;
    }

    @media (max-width: 450px) {
        display: none !important;  
    }   
}