@import "../../styles/colors.module.scss";

$text-color: rgba(0, 168, 232, 0.8);
$bg-color: rgba(0, 168, 232, 0.075);

.hero_name {
    color: $sections-grad-color;    
    font-weight: 500;
    letter-spacing: 0.25em;
    /* background-color: $bg-color; */
}