@import "../../styles/colors.module.scss";

.about_title {
    color: $sections-grad-color;
    font-weight: 400;
    text-transform: uppercase;    
    letter-spacing: 0.2em;
}

.about_text {
    color: $sections-grad-color;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.01em;
}