@import "../../styles/colors.module.scss";

.about_title {
    color: $sections-grad-color;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.about_text {
    color: $sections-grad-color;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.02em;

    @media (min-width: 538px) {
        max-width: 320px;
    }
    @media (min-width: 768px) {
        max-width: 390px;
    }
}