$dark-color: rgb(30, 33, 22);
$test-color: rgb(204, 255, 51);
$text-color: rgb(220, 255, 121);

.container {
  background-color: $dark-color;
  color: $text-color;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}


