@import "./colors.module.scss";

.container {
  /* background-color: $dark-color; */
  background: $background-color;
  color: $text-color;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.horizontal {
  display: flex;
  // align-items: center;
  justify-content: space-evenly;
  width: 70%;
  position: relative;
  margin: 0 auto;

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

// Top Wave
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 70px;

  @media (max-width: 600px) {
    width: calc(155% + 120px);
    height: 50px;
  }

}

.shape_fill {
  margin-bottom: 200px;
  fill: $orange;
  // fill: white;
  /* fill: rgba(26,66,120,0.5); */
  /* fill: #1A427880; */
  /* fill: #781A4880; */
}

.shape_fill_dark {
  margin-bottom: 200px;
  fill: $dark-color;
  /* fill: rgba(26,66,120,0.5); */
  /* fill: #1A427880; */
  /* fill: #781A4880; */
}


// Middle waves
#sect_blue {
  background-color: rgba(26, 66, 120, 1);
  margin-bottom: 100px;

  h2,
  p {
    color: $light-color;
  }
}

.wave_middle {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 230px);
    height: 60px;

    @media (max-width: 600px) {
      width: calc(150% + 103px);
      height: 50px;
    }
  }
}

.reverse {
  transform: rotate(180deg) scaleX(-1)
}

.shape_fill_blue {
  fill: rgba(26, 66, 120, 1);
  // fill: white;
}

.shape_fill2 {
  fill: $background-color;
  border: none;
  /* fill: orange; */

}

// Footer Wave
.wave_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);


  svg {
    position: relative;
    display: block;
    width: calc(100% + 950px);
    height: 40px;

    @media (max-width: 600px) {
      height: 30px;
    }


  }
}

.sect_orange {
  background-color: $orange;
}