@import "../../styles/colors.module.scss";

$dark-color: rgba(21, 15, 24, 0.95);
$light-color: rgba(214, 253, 255, 0.7);
$light-color-hover: rgba(214, 253, 255, 0.8);

.footer {
    color: $light-color;
    background-color: transparent;
    box-shadow: 2px 1px 5px 1px $shadow-color;
    letter-spacing: 1px;
    z-index: 10;
}

.icons_cont {
    background-color: transparent;
    display: flex;
    z-index: 100;

    @media (max-width: 768px) {
        // width: 500px;
    }

    @media (max-width: 550px) {
        // width: 37.5px;
    }

    @media (max-width: 450px) {
        // width: 35px;
    }
}


.menu_hover {
    border-radius: 30%;
    transition: 0.10s ease-in;

    &:hover {
        // background-color: $light-color !important;
        border: 1px groove $light-color;
    }
}

.social_icon {
    width: 50px !important;
    height: 50px !important;

    @media (max-width: 768px) {
        width: 35px !important;
        height: 35px !important;
        margin-bottom: 0px;
    }
}

.footer_text {
    color: $sections-grad-color;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;

    @media (max-width: 1000px) {
        font-size: 18px;
        margin-top: 0px;
        margin-left: 7.5px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
        margin-left: 7.5px;
        margin-top: 2.5px;
    }
}

.copyright {
    margin-top: 5px;
    font-size: 14px;
    margin-left: 0px;

    @media (max-width: 768px) {
        font-size: 12px;
        margin-top: 2.5px;
    }

    @media (max-width: 450px) {
        font-size: 11px;
    }

}

.cv_hover {
    border-radius: 20px;

    &:hover {
        color: $light-color;
        text-decoration: underline;
    }
}